.homepage{
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.h-left{
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
}

.h-name{
  display: flex;
  flex-direction: column;
}

.h-name > :nth-child(1){
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.h-name > :nth-child(2){
  color: #4158D0;
  font-weight: bold;
  font-size: 3rem;
}

.h-name > :nth-child(3){
  font-weight: 100;
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}

.h-button{
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
}

.h-social-icons{
  display: flex;
  margin-top: 3rem;
  gap: 3rem;
}

.h-icon{
  transform: scale(4);
  color: black;
}

.h-icon:hover{
  cursor: pointer;
}

.h-right{
  flex: 1;
  position: relative;
}

.h-right>*{
  position: absolute;
  z-index: 1;
}

.h-right>:nth-child(1){
  transform: scale(0.28);
  left: -90%;
  top: -150%;
}

.h-right>:nth-child(2){
  top: -16%;
  left: 18%;
  transform: scale(0.52);
}