.homepage{
  margin-top: 6rem;
}

.h-left{
  position: relative;
  margin-top: 12rem;
}

.h-name{
  display: flex;
  flex-direction: column;
}

.h-name > :nth-child(1){
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.h-name > :nth-child(2){
  color: #4158D0;
  font-weight: bold;
  font-size: 3rem;
}

.h-name > :nth-child(3){
  font-weight: 100;
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}

.h-button{
  width: 6rem;
  height: 2rem;
  margin-top: 10rem;
  font-size: 16px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: white;
  border-radius: 34px;
  border: none;
}

.h-social-icons{
  display: flex;
  margin-top: 10rem;
  gap: 3rem;
}

.h-icon{
  transform: scale(4);
  color: black;
}

.h-icon:hover{
  cursor: pointer;
}

.h-right{
  flex: 1;
  position: relative;
  margin-top: -2rem;
}

.h-right>*{
  position: absolute;
  z-index: 1;
}

.h-right>:nth-child(1){
  transform: scale(0.28);
  left: -90%;
  top: -150%;
}

.h-portrait{
  transform: scale(0.9);
  left: 20%;
  top: -60%;}

/* .h-right>:nth-child(2){
  top: -50%;
  left: 18%;
  transform: scale(0.52);
} */

.container {
  display: flex;
  height: 77vh;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .h-left {
    margin-top: 2rem;
  }

  .h-right {
    margin-top: 2rem;
  }
}